<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  
  
<!-- 整合Spring -->
  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext.xml</param-value>
	</context-param>
	
	<!-- 配置Spring的OpenSessionInViewFilter,以解决懒加载异常 -->
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class> org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	
	
	
<!-- 管理员权限的过滤 -->
 	 <filter>
		  <display-name>AdminFilter</display-name>
		  <filter-name>AdminFilter</filter-name>
		  <filter-class>com.cc.library.web.filter.AdminFilter</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>AdminFilter</filter-name>
	  <url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<!-- 读者权限的过滤 -->
 	 <filter>
		  <display-name>ReaderFilter</display-name>
		  <filter-name>ReaderFilter</filter-name>
		  <filter-class>com.cc.library.web.filter.ReaderFilter</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>ReaderFilter</filter-name>
	  <url-pattern>/reader/*</url-pattern>
	</filter-mapping>
  
  
 <!-- 配置struts2的过滤器 -->
  <filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
