<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           	http://www.springframework.org/schema/context/spring-context-2.5.xsd
           	http://www.springframework.org/schema/tx 
           	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
           	
           	
 	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
 		<property name="configLocation">
 			<value>classpath:hibernate/hibernate.cfg.xml</value>
 		</property>
 	</bean>
 	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
 		<property name="sessionFactory">
 			<ref bean="sessionFactory"/>
 		</property>
 	</bean>
 	
 	<tx:advice id="tx" transaction-manager="transactionManager"><!--事务处理 -->
 		<tx:attributes>
 			<tx:method name="update*" read-only="false"/><!--事务方法 -->
 			<tx:method name="add*" read-only="false"/><!--事务方法 -->
 		</tx:attributes>
 	</tx:advice>
 	<aop:config>
 		<aop:pointcut expression="execution(* com.cc.library.service.impl.*.*(..))" id="perform"/>
 		<aop:advisor advice-ref="tx" pointcut-ref="perform"/>
 	</aop:config>
 
 </beans>