<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           	http://www.springframework.org/schema/context/spring-context-2.5.xsd
           	http://www.springframework.org/schema/tx 
           	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
           	
           	
 	<import resource="applicationContext-db.xml"/>
 	<import resource="applicationContext-authorization.xml"/>
 	<import resource="applicationContext-reader-login.xml"/>
 	<import resource="applicationContext-admin-login.xml"/>
 	<import resource="applicationContext-admin-info.xml"/>
 	<import resource="applicationContext-reader-info.xml"/>
 	<import resource="applicationContext-admin-manage.xml"/>
 	<import resource="applicationContext-reader-manage.xml"/>
 	<import resource="applicationContext-readerType-manage.xml"/>
 	<import resource="applicationContext-bookType-manage.xml"/>
 	<import resource="applicationContext-book-manage.xml"/>
 	<import resource="applicationContext-forfeit-manage.xml"/>
 	<import resource="applicationContext-back-manage.xml"/>
 	<import resource="applicationContext-borrow-manage.xml"/>
 	<import resource="applicationContext-quartz.xml"/>
 </beans>